.navigation {
    margin: 0;
    padding: 0;
    background: #141414;
}

.navigation ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

.navigation ul li {
    display: inline-block;
    padding: 20px 0 20px 0;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ease;
    padding: 20px 20px 20px 0;
}

.navigation ul li a:hover {
    opacity: 0.7;
}

.navigation ul li:last-child {
    position: absolute;
    display: none;
    padding: 20px;
    right: 0;
    top: 0;
}

.navigation ul li:first-child {
    float: left;
    padding-left: 0;
    margin: 0;
}

.navigation ul #last {
    padding: 20px;
    padding-right: 0;
    padding: 20px 0 20px 0;
}

.droite {
    text-align: right;
}

#mobileLogo {
    transition: all 0.5s ease;
    color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 10px solid white;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
}

#pointer{
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .responsive ul li:first-child {
        float: none;
    }
    .responsive ul {
        text-align: left;
    }
    .navigation ul li {
        display: none;
    }
    .navigation ul li:first-child,
    .navigation ul li:last-child {
        display: inline-block;
        border-top: solid 0px black;
        opacity: 1;
    }
    .responsive ul .anim {
        display: block;
        opacity: 0;
        border-top: solid 1px rgba(255, 255, 255, 255.2);
        -webkit-animation: navAnim 0.2s forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0.2s;
        animation: navAnim 0.2s forwards;
        animation-iteration-count: 1;
        animation-delay: 0.2s;
    }
    @-webkit-keyframes navAnim {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
    }
    @keyframes navAnim {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
    }
}