body{
    background: #212121;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background: #141414;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


select {



    background:
            linear-gradient(45deg, transparent 50%, white 50%),
            linear-gradient(135deg, white 50%, transparent 50%),
            linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-position:
            calc(100% - 21px) calc(1em + 2px),
            calc(100% - 14px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            7px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;



    border: none;
    color: white;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;



    border-radius: 0;
    border-left: solid 1px #27ae60;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
}

select:focus{
    outline: none;
}

select{
    width: 20%;
}

.centrer{
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.filter{
    background: #2ecc71;
    margin: 30px 0 30px 0;
    border-radius: 2px;
    font-weight: bold;
    border-bottom: solid 2px #27ae60;
}

.filter h5{
    padding-right: 10px;
    margin: 0;
    display: inline-block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.selection {
    color: black;
}

.selection:hover {
    color: black;
    text-decoration: none;
}

.pres {

    padding: 0;
    background: #ECEFF1;
    margin-bottom: 30px;
    transition: all 0.5s;
    border-radius: 2px;
    border-bottom: solid 2px #bdc3c7;
}

.img:hover{
    opacity: 0.6;
    filter: blur(3px);
}

.pres-body {
    padding: 10px;
}

.pres-title {
    padding: 0;
    margin: 0;
    color: black;
}

.img {
    width: 100%;
    height: 210px;
    margin: 0;
    position: relative;
    transition: all 0.5s;

    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.img-text {
    position: absolute;
    top: 140px;
    left: 5;
    width: 50%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 200;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ajout{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    background: #2ecc71;
    padding: 5px;
    color: white;
    margin-top: 10px;
    transition: all 0.5s;
    width: 100%;
    display: block;
    border-radius: 2px;
    border-bottom: solid 2px #27ae60;
}

.ajout:hover{
    text-decoration: none;
    background: #27ae60;
    color: white;
}

.catPresentation{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #bdc3c7;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 2px;
    transition: all 0.3s;
}

.cat{
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px;
}

.titre{
    text-align: center;
    color: #2ecc71;
    margin-bottom: 20px;

}

.titre h3 {
    font-size: 50px;
    font-family: "Arial Rounded MT Bold";
}

.titre h4 {
    font-size: 30px;
    font-family: "Arial Rounded MT Bold";
}

.catPresentation:hover{
    background: #2ecc71;
    color: white;
}

.subTitre{
    color: white;
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
    border-bottom: solid 1px white;
}

.subDiv{
    margin: 0;
    padding: 5px;
}

.imgPres{
    width: 100%;
    height: 220px;
    border-radius: 2px;
}

.presAll{
    color: black;
}

.presAll h3{
    margin: 0;
}

.presAjoutInfo{
    margin: 0;
    padding: 0;
}

.presAllInfo{
    background: #ECEFF1;
    margin-top: 30px;
    padding: 5px;
    border-radius: 2px;
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
}

.panier{
    margin-top: 30px;
}

.itemPanier{
    background: #ECEFF1;
    border-radius: 2px;
    border-bottom: solid 2px #bdc3c7;
    padding: 10px;
    margin-bottom: 10px;
}

.itemPanier h3{
    margin: 0 0 10px 0;
}
.itemPanier p{
    margin: 0;
    margin-right: 5px;
    display: inline-block;
}

.link{
    color: #2ecc71;
    transition: all 0.5s;
}
.link:hover{
    color: #27ae60;
    text-decoration: none;
}

.itemPanierVide{
    background: #ECEFF1;
    border-radius: 2px;
    border-bottom: solid 2px #bdc3c7;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.bouttonPanier{
    padding: 0;
}

.supprimerPanier{
    font-weight: 300;
    background: #e74c3c;
    border-bottom: solid 2px #27ae60;
    color: white;
    display: inline-block;
    border-radius: 2px;
    height: 20px;
    padding: 0 5px 0 5px;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px 0 5px;
    transition: all 0.5s;
    border-bottom: solid 2px #c0392b;
}

.supprimerPanier:hover{
    text-decoration: none;
    background: #c0392b;
    color: white;
}

.modifq{
    background: #2ecc71;
    border-bottom: solid 2px #27ae60;
    color: white;
    display: inline-block;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px 0 5px;
    transition: all 0.5s;
}

.modifq:hover{
    background: #27ae60;
    color: white;
    text-decoration: none;
}

.itemValidation{
    border-radius: 2px;
    margin-bottom: 10px;
    background: #2ecc71;
    border-bottom: solid 2px #27ae60;
    transition: all 0.5s;
}

.itemValidation:hover{
    background: #27ae60;
    border-bottom: solid 2px #27ae60;
}

.itemValidation a{
    color: white;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.itemValidation a:hover{
    color: white;
    text-decoration: none;
}

.validation{

}


@media only screen and (max-width:800px) {

    .imgPres{
        width: 100%;
        height: 420px;
        border-radius: 2px;
    }

    .img {
        height: 400px;
    }

    .img-text{
        top: 300px;
    }

    select{
        display: block;
        width: 100%;
        border: none;
        text-align: left;
    }

    .filter {
       text-align: center;
    }

    .filter h5{
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #27ae60;
    }

    .titre h3{
        text-align: left;
    }
}

@media only screen and (min-width:610px) and (max-width: 990px){
    .imgPres{
        width: 50%;
        height: 400px;
        display: block;
        margin: auto;
    }
}

.circle-active {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #3498db;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 4px;
}

.circle-inactive {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #95a5a6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 4px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    display: inline-block;
}
.rating > a {
    display: inline-block;
    font-size: 30px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before {
    content: "●";
    position: absolute;
    color: #3498db;
    text-decoration: none;
}

.active{
    color: #2980b9;
}

.inactive{
    color: #95a5a6;
}

.triste{
    font-size: 200px;
    color: white;
}

.itemPanierVadHead{
    color: white;
    border-bottom: solid 2px #bdc3c7;
    padding: 5px;
    margin-bottom: 10px;
}

.itemPanierVadHead h3{
    margin: 0;
}

.itemPanierVad{
    background: #ECEFF1;
    border-radius: 2px;
    border-bottom: solid 2px #bdc3c7;
    padding: 10px;
    margin-bottom: 10px;
}

.itemPanierVad input{
    width: 100%;
}

.itemPanierVad textarea{
    width: 100%;
}

#classique{
    width: auto;
    margin: 0;
}

#cagnotte{
    width: auto;
    margin: 0;
}

.itemPanierVad label{
    padding: 5px;
}

.itemPanierVad input:focus{
    outline: none;
}

.itemPanierVad h3{
    margin: 0;
}

#validationButton{
    background: #2ecc71;
    border: none;
    border-radius: 2px;
    border-bottom: solid 2px #27ae60;
    color: white;
    display: block;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
}

#validationButton:hover{
    background: #27ae60;
}

.marginBottom{
    margin-bottom: 30px;
}

i{
    text-transform: none;
    color: #2ecc71;
    font-weight: bold;
    font-style: normal;
}

.supprimerPres{
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: 2px;
    margin-right: 10px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;

}

.colorYellow{
    background: #f1c40f;
    border-bottom: solid 2px #f39c12;
}

.colorYellow:hover{
    background: #f39c12;
    text-decoration: none;
    color: white;
}

.colorRed{
    background: #e74c3c;
    border-bottom: solid 2px #c0392b;
}

.colorRed:hover{
    background: #c0392b;
    text-decoration: none;
    color: white;
}

.colorGreen{
    background: #2ecc71;
    border-bottom: solid 2px #27ae60;
}

.colorGreen:hover{
    background: #27ae60;
    text-decoration: none;
    color: white;
}

textarea{
    border: none;
}

textarea:focus{
    outline: none;
}